.main-app-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.food-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.search-input {
    padding: 10px;
    outline: none;
    border: none;
}

.app-bar-item {
    display: flex;
    align-items: center;
}

.transparent-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
