/* import font */
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Caveat:wght@400..700&display=swap');

/* styling for entire app */
.app {
    font-family: "Catamaran", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    justify-content: left;
}

.side-nav {
    border-width: 3px;
    border-color: red;
    border-style: solid;
    width: 25%;
    margin-right: 1%;
}

.main {
    border-width: 3px;
    border-color: blue;
    border-style: solid;
    width: 75%;
    padding: 16px;
}